[submodule "bamboos"]
	path = bamboos
	url = ../bamboos.git
[submodule "one-env"]
	path = one-env
	url = ../one-env.git
[submodule "onedatafilerestclient"]
	path = onedatafilerestclient
	url = ../onedatafilerestclient.git
